/*====================================================================*/
/*
	Forms Component Style
	__dh__
*/
/*====================================================================*/
@import '@/assets/scss/variables.scss';

form {
    width: 40%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=password],
select {
    width: 100%;
    padding: .5rem .75rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: $borderRadius;
    box-sizing: border-box;

    &:focus {
        border: 1px solid $color-form-input-focus;
    }
}

//.form-input {
//    display: block;
//    width: 100%;
//    color: $color-form-input;
//    border-width: 1px;
//    border-radius: $borderRadius;
//    padding: .25rem .5rem;
//}
//
//.form-input:focus {
//    outline: 0;
//    -webkit-box-shadow: 0 0 0 3px $color-form-input-focus;
//    box-shadow: 0 0 0 3px $color-form-input-focus;
//}

.form-label {
    display: block;
    color: $color-form-label;
    font-weight: 600;
}
