# framework
flask
flask-bcrypt
flask-cors
flask-migrate
flask-script
flask-sqlalchemy
flask-uploads

sqlalchemy-imageattach
marshmallow
werkzeug
pytest
gunicorn
python-dotenv

#data
psycopg2-binary
redis

# JWT
pyjwt

# scientifics
scikit-learn[alldeps]
scipy
numpy
pandas



