<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>
<html class="ie9" lang="en">    <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="en">    <![endif]-->

<!--#include virtual="head.html" -->

<body class="">

<!--Pre-Loader-->
<div id="preloader"><img src="assets/custom/images/preloader.gif" alt="01"></div>

<div id="wrapper" class="sidebar-left toggled">

   <a href="#menu-toggle" class="" id="menu-toggle"><span class="" aria-hidden="true"></span></a>

   <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="e-divider-4"></li>
            <li class="sidebar-brand">
                <a href="about.html"><img src="assets/custom/images/logo01_w.svg" width="180" alt="logo"></a>
            </li>
            <li class="e-divider-4"></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="blog-list.html" class="current">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
            <!--#include virtual="sidebar_bottom-widget.html" -->
    </div>
   <!-- /#sidebar-wrapper -->

     <!-- Content -->
   <div id="page-content-wrapper" class="content-wrap">
      <!-- Header -->
      <header class="cbp-af-header">
         <div class="cbp-af-inner">
            <div class="navbar navbar-default" role="navigation">
               <div class="container-fluid padding-side-50">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                     <h1><a href="index.html">Case Studies</a></h1>
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                  </div>

<!--#include virtual="menu.html" -->

      <!-- Content Sections -->
      <div id="content">

         <!-- Blogpost Block -->
         <section id="blogpost" class="inner-section padding-side-50">

            <div class="container-fluid nopadding">
                
                <article class="post">

                  <div class="e-divider-8"></div>

                  <div class="post-header">
                     <h2 class="e-uppercase">In-App Purchases</h2>
                     <div class="e-divider-2"></div>
                  </div>
                  <div class="post-tag">
                     <span><a href="#branding" data-filter=".branding">Curatory</a>,</span><span><a href="#design" data-filter=".design">performance painting</a></span>
                  </div>
                  <div class="post-meta"><span>by <a href="#!">Dalien Schanhair</a>,</span> <span>March 16, 2015</span></div>

                  <div class="e-divider-8"></div>

                  <!-- Post Content -->
                    <article id="05" class="post-block col-md-12 post hentry">
                            <div class="img-wrap">
                                <div class="owl-carousel owl-theme">
                                  <div class="item"><img class="img-responsive" src="assets/custom/images/project/in-app/02.jpg" alt="img-schanhair"></div>
                                  <div class="item"><img class="img-responsive" src="assets/custom/images/project/in-app/03.jpg" alt="img-schanhair"></div>
                                  <div class="item"><img class="img-responsive" src="assets/custom/images/project/in-app/04.jpg" alt="img-schanhair"></div>
                                </div>
                            </div>
                    </article>
                    <p>Schanhair’s performance paint act <em>In-App Purchases</em> could be seen as an analogism of the drift of digital and modular buying formats.
                        The performance renders a broad line of ambiguity between spoof and psychedelic art. Performing artists usually do not share static content as their expression is time-based. 
                        This confines to a smaller amount of opportunities which is broken hereby—dance, act and paint come together in a ritual of self-disclosure and avartarism. 
                        The contextual sense seems like a multi-medial persiflage on business models of software startups bargaining and baiting recipients into contracts and the bloating of prices for artworks. 
                        The background piece is accessible and pre-viewable, yet constrained to white spaces. The modules can be unlocked for viewing. The original modules are not for sale as they are reproduced digitally and then burned. 
                        With this strategy, we could see painting and performance moved into an area of consumable entertainment.                    
                    </p>
                    <p>Which could be disgusting, if not the model of Software as a Service prohibited ownership rights—buyers can not own the product or entity, 
                      but rather gain a copy for a range of time. This could act like a marketing persiflage on art selling itself and could open pensive areas embodying the 
                      changing laws of ownerships of art in Europe and their selling and the absurdity added to it—after all the sentence “all art made by mankind should belong to 
                      everybody” could be right, if France was just a pretty frame for the Mona Lisa, since she is Italian.
                    </p>
                    <p>
                      If art may sell itself and yet remain art, Shanhair’s works are a statement between street-art and oh-so-serious artists showing bold citations in a stencil manner, 
                      yet with a sensitive touch, like a tattoo-artist covering up your pretty little bunny on your butt—with a giant and hungry shark, because—you know—you always 
                      liked sharks, didn’t you?
                    </p>
                            <div class="img-wrap">
                                <div class="owl-carousel owl-theme">
                                  <div class="item"><img class="img-responsive" src="assets/custom/images/project/in-app/05.jpg" alt="img-schanhair"></div>
                                </div>
                            </div>
                      
                    <div class="e-divider-8"></div>

                  <!-- /Post Content -->

      </div>
      <!-- /Content Sections -->

   </div>

</div>


<div id="image-cache" class="hidden"></div>


<!-- JS -->
<script src="assets/vendor/jquery/js/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/vendor/animatedheader/js/classie.js"></script>
<script src="assets/vendor/animatedheader/js/cbpAnimatedHeader.min.js"></script>
<script type="text/javascript" src="assets/vendor/imagesloaded/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="assets/vendor/isotope/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="assets/vendor/jquery-parallax/js/jquery.parallax-1.1.3.js"></script>
<script src="assets/vendor/anicounter/jquery.counterup.min.js" type="text/javascript"></script>
<script src="assets/vendor/circle-progress/circle-progress.min.js" type="text/javascript"></script>
<script src="assets/vendor/waypoints/waypoints.min.js" type="text/javascript"></script>
<script src="assets/vendor/goalprogress/goalProgress.min.js" type="text/javascript"></script>
<script src="assets/vendor/mfp/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="assets/vendor/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>

<script type="text/javascript" src="assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>


<!-- Custom scripts -->
<script src="assets/custom/js/script.js" type="text/javascript"></script>

</body>
</html>
