<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>
<html class="ie9" lang="en">    <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="en">    <![endif]-->

<!--#include virtual="head.html" -->

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="styles/model.css">
	<link rel="stylesheet" type="text/css" href="styles/perfect-scrollbar.min.css">

<body class="">

<!--Pre-Loader-->
<div id="preloader"><img src="assets/custom/images/preloader.gif" alt="01"></div>

<div id="wrapper" class="sidebar-left toggled">

   <a href="#menu-toggle" class="" id="menu-toggle"><span class="" aria-hidden="true"></span></a>

   <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="e-divider-4"></li>
            <li class="sidebar-brand">
                <a href="about.html"><img src="assets/custom/images/logo01_w.svg" width="180" alt="logo"></a>
            </li>
            <li class="e-divider-4"></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="blog-list.html" class="current">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
            <!--#include virtual="sidebar_bottom-widget.html" -->
    </div>
   <!-- /#sidebar-wrapper -->

     <!-- Content -->
   <div id="page-content-wrapper" class="content-wrap">
      <!-- Header -->
      <header class="cbp-af-header">
         <div class="cbp-af-inner">
            <div class="navbar navbar-default" role="navigation">
               <div class="container-fluid padding-side-50">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                     <h1><a href="index.html">Case Studies</a></h1>
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                  </div>

<!--#include virtual="menu.html" -->

      <!-- Content Sections -->
      <div id="content">

         <!-- Blogpost Block -->
         <section id="blogpost" class="inner-section padding-side-50">

            <div class="container-fluid nopadding">
                
                <article class="post">

                  <div class="e-divider-8"></div>

                  <div class="post-header">
                     <h2 class="e-uppercase">Simulation; Mangel, Idee & Changers</h2>
                     <div class="e-divider-2"></div>
                  </div>
                  <div class="post-tag">
                     <span><a href="#branding" data-filter=".branding">Experimental</a>,</span><span><a href="#design" data-filter=".design">Simulation</a></span>
                  </div>
                  <div class="post-meta"><span>by <a href="#!">Dalien Schanhair</a>,</span> <span>October 10, 2016</span></div>

                  <div class="e-divider-8"></div>

                  <!-- Post Content -->
                    <iframe width="800" height="452" src="http://ncase.me/simulating/model/?remote=-KTin1EuA6LqiTRfl_dl" frameborder="0"></iframe>
                    <p>
                        Some people manifest their approach of attitude via <em>mangel</em>, some function over <em>idee</em>; Some are changers, who change their minds depending on how many other opinions surrend them. 
                        This simulation is an experiment to find out which approach could persist, if our system worked as simple as shown.
                    </p>
                      
                    <div class="e-divider-8"></div>

                  <!-- /Post Content -->


	<!-- The grid. Inline CSS so grid can change, shuddup. -->
	<style id="ui_style"></style>
	<style id="grid_style"></style>
	<div id="grid_container">
		<div id="grid_bg"></div>
		<div id="grid"></div>
	</div>

	<!-- Play/Pause/Reset/Step/Draw controls -->
	<div id="play_container">
		<div id="play_controls">
			
			<!-- New Board -->
			<div class="control_button" id="play_reset">reset</div>
			<div class="control_divider"></div>

			<!-- Playback -->
			<div class="control_button" id="play_pause">pause</div>
			<div class="control_speed">
				<input id="control_fps" type="range" min="1" max="60" step="1">
				<br>
				<div style="float:left;">slow</div>
				<div style="float:right;">fast</div>
			</div>
			<div class="control_button" id="play_step">step</div>
			<div class="control_divider"></div>

			<!-- Drawing Shtuff -->
			<div class="control_button" id="play_draw">draw <div></div></div>

		</div>
	</div>

	<!-- The big honkin' editor -->
	<div id="editor_container">
		<div id="editor"></div>
	</div>



      </div>
      <!-- /Content Sections -->

   </div>

</div>


<div id="image-cache" class="hidden"></div>


<!-- JS -->
<script src="assets/vendor/jquery/js/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/vendor/animatedheader/js/classie.js"></script>
<script src="assets/vendor/animatedheader/js/cbpAnimatedHeader.min.js"></script>
<script type="text/javascript" src="assets/vendor/imagesloaded/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="assets/vendor/isotope/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="assets/vendor/jquery-parallax/js/jquery.parallax-1.1.3.js"></script>
<script src="assets/vendor/anicounter/jquery.counterup.min.js" type="text/javascript"></script>
<script src="assets/vendor/circle-progress/circle-progress.min.js" type="text/javascript"></script>
<script src="assets/vendor/waypoints/waypoints.min.js" type="text/javascript"></script>
<script src="assets/vendor/goalprogress/goalProgress.min.js" type="text/javascript"></script>
<script src="assets/vendor/mfp/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="assets/vendor/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>

<script type="text/javascript" src="assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="assets/vendor/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>


<!-- Custom scripts -->
<script src="assets/custom/js/script.js" type="text/javascript"></script>

<!-- Special scripts for emoji Simulator -->

<!-- External Libraries -->
<script src="scripts/libraries/rAF.js"></script>
<script src="scripts/libraries/minpubsub.js"></script>
<script src="scripts/libraries/firebase.min.js"></script>
<script src="scripts/libraries/reqwest.min.js"></script>
<script src="scripts/libraries/perfect-scrollbar.min.js"></script>
<!--script src="scripts/libraries/promise.js"></script-->
<!--script src="scripts/libraries/stats.min.js"></script-->

<!-- Engine -->
<script src="scripts/engine/Actions.js"></script>
<script src="scripts/engine/Agent.js"></script>
<script src="scripts/engine/Grid.js"></script>
<!--script src="scripts/engine/Graph.js"></script-->
<script src="scripts/engine/Editor.js"></script>
<script src="scripts/engine/Model.js"></script>
<script src="scripts/engine/UI.js"></script>
<script src="scripts/engine/Scroll.js"></script>
<script src="scripts/engine/Save.js"></script>
<script src="scripts/engine/Load.js"></script>

<!-- Emoji Test -->
<script src="../scripts/platform.js"></script>
<script src="../scripts/emojiTest.js"></script>
<script src="scripts/libraries/emojiFallback.js"></script>

</body>
</html>
